<div class="contenedor">
<h1 class="titulo">Vista de productos</h1>
{{#if productos}}
        <table class="tabla"">
            <tr>
                <th><strong>Title</strong></th>
                <th><strong>Price</strong></th>
                <th><strong>Photo</strong></th>
            </tr>
            {{#each productos}}
            <tr>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                <td><img src="{{this.thumbnail}}" class="image"></td>
            </tr>
        {{/each}}
        </table>
{{else}}
    <div class="advertencia">
        <h1>No se encontraron productos.</h1>
    </div>
{{/if}}
</div>